.school_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

span {
    font-weight: bold;
}

.school_info {
    text-align: justify;
}

img {
    width: 500px;
   }